@font-face {
  font-family: dana-thin;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 100;
}

@font-face {
  font-family: dana-light;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 200;
}

@font-face {
  font-family: dana-regular;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 300;
}

@font-face {
  font-family: dana-medium;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: dana-demibold;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: dana-bold;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: dana-extra-bold;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: dana-black;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: dana-ultra-black;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 800;
}

@font-face {
  font-family: dana-heavy;
  src: url(/fonts/DanaVF/DanaVF.ttf) format(truetype);
  font-weight: 900;
}

@font-face {
  font-family: dana-farsi-num;
  src: url(/fonts/Dana/DanaFaNum-Medium.ttf);
}

/* extra bold font family start */
.gallery__modal__title,
.news__author-fullname,
.meeting__title,
.meeting__atendence-content-status-title,
.meeting__btn,
.meeting__items-title,
.search-result__item-title,
.search-result-not-found-message__title,
.presentations-category-item__title,
.article__title,
.course-category__title,
.teacher__family,
.education-field__title,
.book__category--active,
.book__education,
.footer-box__about-us-caption,
.footer-box__title,
.register__btn,
.breadcrumb__link:last-child,
.course__price,
.comment__userFullName,
.userCommentBtn,
.chapter__number,
.chapter__title,
.gallery__title,
.video__title,
.course_userName,
.article__mainTopic,
.status__modal_btn {
  font-family: dana-extra-bold;
}

/* extra bold font family end */
