@import "/css/variables.css";


/* 

-  a bouch of codes includs display flex and etc... has been removed and instead we're using ===> custom-class.css class or fonts.css files <==== 

*/




















/* -------------------------------------------------------------------------- */

body {
    background-color: var(--bg-color);
}

/* -------------------------------------------------------------------------- */



/* start blur effect styles */
.blur {
    width: 100% !important;
    height: 100vh;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    position: fixed;
    display: none;
    z-index: 2;
}

/* end blur effect styles */
/* -------------------------------------------------------------------------- */


header {
    background-image: linear-gradient(0deg, var(--bg-color)25%, transparent), url("/images/landing/header/header-bg.jpg");
    height: 101vh;
    overflow: hidden;
}

/* -------------------------------------------------------------------------- */


/* start nav styles */
nav {


    background-color: var(--dark-color);
    padding: 2rem 0;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0 !important;
    z-index: 10;



}

.nav-box {
    padding: 0 1rem;
}

/* end nav styles */
/* -------------------------------------------------------------------------- */


/* news */
/* when news {display: block} ===> nav {z-index: unset} && body {over-flow-y: clip} */
.news {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--main-dark-color);
    padding: 2rem;
    display: none;


}

.modal__close-btn {
    padding: 1rem;
    border-radius: 1rem;
    background-color: darkred;
    position: absolute;
    left: 20px;


}

.news__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.news__content {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    gap: 1rem;
}

.news__content-title {
    font-family: dana-black;
}

/* if caption height more than spacefic value over-flow-y: scroll */
/* use ck editor for more castomization */
.news__content-caption {
    font-family: dana-medium;
    line-height: 4rem;
    padding-top: 1rem;
    position: relative;
    height: 30rem;
    overflow-y: scroll;
    padding-left: 2rem;

}





.news__detail {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.news__profile {
    padding: 1rem;
    border: 3px solid #2E3239;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;

}

.news__profile-img {
    width: 100%;

}



.news__author-role,
.news__time-text {
    color: #5E636C;
}

.news__author,
.news__date {

    gap: 1.5rem;

}


.news__date-info {
    display: flex;
    flex-direction: column;
}

.news__date-text-box,
.news__time-text-box {

    gap: 1rem;
}




/* news */
/* -------------------------------------------------------------------------- */


/* meeting */
/* when news {display: block} ===> nav {z-index: unset} && body {over-flow-y: clip} */
/* if metting height more than spacefic value over-flow-y: scroll */


.meeting {
    position: fixed;
    z-index: 3;
    background-color: var(--main-dark-color);
    top: 0;
    bottom: 0;
    padding: 2rem;
    overflow-y: scroll;
    display: none;
}

.meeting__wrapper {
    margin-top: 8rem;
    display: grid;
    gap: 5rem;

}


.meeting__title {
    font-size: 2.5rem;
}

.meeting__details {
    margin-top: 2rem;
    gap: 1rem;
    display: grid;
}

.participants__name {
    margin-top: 2rem;
}


.meeting__date-and-time-text {
    font-family: dana-bold;
    color: var(--accent-color);
}



.meeting__attendence-box {
    position: relative;
    height: 53rem;
}


/* change with z index */
.meeting__attendence-status {
    position: absolute;
    left: 0;
    right: 0;
    height: 50rem;
    flex-direction: column;

    border: 1px solid #18D288;
    background-color: #15382A;
    border-radius: 2rem;
    padding: 2rem;
    gap: 3rem;
}

.attendence-confirmed {
    z-index: 1;
}

.canceled-attendence {
    border: 1px solid #F59E0B;
    background-color: #694200;

}

.canceled-attendence button {
    background-color: #9D6300;
}

.not-attendence-resean-input {
    width: 34rem;
    height: 15rem;
    border-radius: 2rem;
    border: 1px solid #F59E0B;
    resize: none;
    padding-right: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

.not-attendence-resean-input::placeholder {
    color: #F59E0B;
}

.canceled-attendence .meeting__atendence-content-status-title {
    color: #F59E0B;
}

.meeting__attendence-status>svg {
    width: 10rem;
    height: 10rem;

}


.meeting__attendece-content {
    flex-direction: column;
    gap: .5rem;
}

.meeting__attendence-contacts {
    gap: .5rem;
    font-size: 2.5rem;
}


.meeting__attendence-contacts>svg {
    width: 5rem;
    height: 5rem;
}

.meeting__atendence-content-status-title {
    color: #18D288;
}

.meeting__btn {
    background-color: #00975B;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    width: 100%;
    font-size: 2.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 3rem;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.pagination__btn {
    width: 1rem;
    height: 1rem;
    background-color: rgba(0, 108, 255, 0.3);
    border-radius: 100%;
}

.pagination__btn--current {
    background-color: rgba(0, 108, 255, 1);
    width: 2rem;
    border-radius: 2rem;
}

.meeting__items-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.meeting__items-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.meeting__items-list__item {

    gap: 1rem;
}


/* meeting */
/* -------------------------------------------------------------------------- */


/* search result */
/* click on blur and return to normal stat */

/* body {
    overflow-y: clip;
}

nav {
    z-index: unset;
}

.blur {
    display: block !important;
}

.header-content__input-box {
    z-index: 3;
    backdrop-filter: blur(50px);

}

.header-content-box {
    margin-top: 2rem !important;
    display: none !important;
}

.header-content__title-box,
.header-content__caption {
    display: none;
}  */



.search-result {
    width: 100%;
    z-index: 3;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    top: 25rem;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 0 2rem;
    background-color: var(--bg-color);
    display: none;
    /* grid */
    justify-content: center;
    justify-items: center;
}

.search-reslut__wrapper {
    display: grid;
    gap: 10rem;
}

.search-reslut__wrapper:last-child {
    margin-bottom: 35rem;
}

.serach-result__item {
    border-bottom: 1px solid #ffffff0d;
    padding-bottom: 10rem;
}



.close__modal-box {
    position: fixed;
    background-color: var(--bg-color);
    height: 7rem;
    z-index: 1 !important;
    width: 100%;
    justify-content: end;
    padding: 0 1.5rem;
    top: 180px;
}







.search-result__item-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;

}

/* search result */
/* -------------------------------------------------------------------------- */


/* search result not found message */

/* body {
    overflow-y: clip;
}

nav {
    z-index: unset;
}

.blur {
    display: block !important;
}

.header-content__input-box {
    z-index: 3;
    backdrop-filter: blur(50px);

}

.header-content-box {
    margin-top: 2rem !important;
}

.header-content__title-box,
.header-content__caption {
    display: none;
} */

.search-result-not-found-message {
    position: relative;
    z-index: 3;
    background-color: var(--main-dark-color);
    border-radius: 2rem;
    display: none !important;
    /* flex */
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
    height: 30rem;

}

.search-result-not-found-message::before {
    position: absolute;
    content: "";
    width: 30%;
    left: 0;
    bottom: 0;
    height: 1rem;
    background-color: #f59e0b;
}

.search-result-not-found-message__close-icon {
    position: absolute;
    width: 1.5rem !important;
    height: 1.5rem !important;
    top: 1.5rem;
    left: 1.5rem;
}



.search-result-not-found-message__subtitle {
    font-size: 1.6rem;
    font-family: dana-regular;
}

.search-result-not-found-message svg {
    width: 10rem;
    height: 10rem;
}

/* search result not found message */
/* -------------------------------------------------------------------------- */


/* start mobile menu styles */





aside {

    background-color: var(--main-dark-color);
    width: 25rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -1000rem;
    overflow-y: scroll;
    transition: all 50ms linear;
}

/* custom sidebar scroll */
aside::-webkit-scrollbar {
    background-color: var(--main-dark-color);
    width: .5rem;
}

aside::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
}

/* custom sidebar scroll */



.mobile-menu__top-box {
    padding: 2rem 2.5rem;
    border-bottom: 1.5px solid rgba(255, 255, 255, 5%);
    margin-bottom: 5rem;
    position: fixed;
    width: 25rem;
    background-color: var(--main-dark-color);
    z-index: 1;
    box-shadow: 7px 37px 20px var(--main-dark-color);
    border-bottom: 1.5px solid rgba(255, 255, 255, 5%);
}


.mobile-menu__top-box-close{
    height: 32px;
    display: block;
}


.mobile-menu__top-box-logo {
    width: 130px;
}

.theme-box {

    padding-right: 2.5rem;
    margin-top: 12rem;
}

.theme-box svg path {
    stroke: #fff;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.mobile-menu__list {
    margin-bottom: 5rem;
}


/* disable  list of sidebar */
.disable-list svg path {
    stroke: #42474a;
}

.disable-list li {
    color: #42474a;
}

/* disable  list of sidebar */


.mobile-menu__list-item-title {
    color: var(--primery-color);
    margin-bottom: -2rem;

}


.mobile-menu__list-item-link {

    gap: 1.5rem;
}

/* add affect for sidebar items clicking but not for .disable-list */
.mobile-menu__list-item-link:hover:not(.disable-list .mobile-menu__list-item-link) {
    background-color: var(--primery-color);
    padding: 2rem;
    border-radius: 2rem;
}

/* add affect for sidebar items clicking but not for .disable-list */



/* end mobile menu styles */
/* -------------------------------------------------------------------------- */



/* start menu styles */
.menu {
    display: none;
}


.menu__item-link-dropdon {
    position: relative;
}

.menu__item-dropdon {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 0.1rem solid var(--primery-color);
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--main-dark-color);
    position: absolute;
    top: -100rem;
    /* on hover top value should be -> 7rem*/
    transition: all linear 500ms;
}



.menu-left__box {

    gap: 2rem;
}

#themChanger {
    height: 5.5rem;
    display: none !important;

}

.menu__btn {

    gap: 1rem;
    background-color: var(--primery-color);
    padding: 1rem 1.5rem;
    border-radius: 2rem;


}

.menu__btn svg{
    width: 5rem !important;
    height: 4rem !important;
    
}


/* end menu styles */
/* -------------------------------------------------------------------------- */



/* start header content */
.header-content-box {
    margin-top: 25rem;
    flex-direction: column;
    gap: 2rem;
}


.header-content__title {
    display: grid;
    justify-items: center;
    gap: 2rem;
    font-family: dana-heavy;
    line-height: 3rem;
    font-size: 3.5rem;
}

.header-content__title-img {
    display: grid;
    grid-row: 1/2;

}

.header-content__input-box {
    padding: 2rem;
    border-radius: 10rem;
    border: 2px solid var(--accent-color);
    width: 85%;


}

.header-content__search-box {

    gap: .5rem;
}

.header-content__search-icon path {
    stroke: #8a8c91;
}

.header-content__input {
    font-size: 2rem !important;
    color: #fff;
    font-family: dana-medium;
    width: 50%;
}

.header-content__input::placeholder {
    color: #8a8c91;

}

.header-content__btn {
    font-size: 1.8rem;
    background-color: var(--accent-color);
    border-radius: 4rem;
    padding: 2rem;
}

.header-content__caption {
    text-align: center;
    font-family: dana-medium;
    font-size: 3rem;
    line-height: 4rem;
    width: 37rem;

}

/* end header content */
/* -------------------------------------------------------------------------- */


/* start section title */


.section-title {
    margin-bottom: 6rem;
}


.section-title__box {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}


.section-title__content {
    z-index: 1 !important;
}


.section-title__conent-title {
    font-family: dana-heavy;
    font-size: 2rem;
    color: var(--primery-color);

}

.section-title__content-caption {
    font-size: 1.6rem;
    font-family: dana-medium;
}

.section-title__link {
    display: flex;
    align-items: start;
    align-self: flex-end;
    gap: .5rem;

}

.section-title__link-text {
    color: var(--section-title-link);
    font-family: dana-medium;
}

.section-title__link-icon {
    transform: rotate(50deg);
    width: 2.5rem;
    height: 2.5rem;


}

.section-title__link-icon path {
    stroke-width: 2px;
    stroke: var(--section-title-link);

}

/* end section title */
/* -------------------------------------------------------------------------- */




/* start main all sections */
main section {
    margin-bottom: 6rem;

}

/* end main all sections */
/* -------------------------------------------------------------------------- */




/* start popula courses */



.popular-course {
    border: 2px solid purple;
    border-radius: 2rem;
    position: relative;
    background-image: linear-gradient(0deg, rgb(245, 51, 232) 8%, transparent), url(/images/landing/popular-courses/server-master.jpg);

}



.popular-course__students-box {
    padding: 1rem;
    background-color: purple;
    border-radius: 1.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}

.popular-course__students-count-box {

    gap: 3px;


}

.popular-course__students-count-text,

.popular-course__students-count-number {
    font-family: dana-farsi-num;
}

.popular-course__go-icon path,
.popular-course__students-icon path {
    stroke: #fff;
}




.popular-course__go-icon {
    transform: rotateY(180deg);
}

/* end popular last-courses */
/* -------------------------------------------------------------------------- */


/* start last-courses */


.course {
    background-color: var(--main-dark-color);
    border-radius: 2rem;
}

.course__cover {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 2rem 2rem 0 0;

}

.course-box {
    padding: 2rem;
}

.course-box__items {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.course-info__title {
    margin-bottom: 1rem;
    font-family: dana-black;
    font-size: 2.5rem;
}




.course-teacher-box {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.course-teacher__icon {
    width: 3.5rem;
    height: 3.5rem;
}

.course-teacher__icon path {
    stroke: #7A7A7A;
    stroke-width: 1.5px;
}

.course-teacher__fullname {
    color: #7A7A7A;
}

.course-rate {

    gap: 5px;
}

.course-rate__number {
    height: 20px;
    font-family: dana-farsi-num;
}



/* end last-courses */
/* -------------------------------------------------------------------------- */


/* presentations category */


.presentations-category-item {
    background-image: linear-gradient(0deg, var(--accounting-present-category) 8%, transparent 50%),url(/images/landing/presentaions-category/computer.png);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem;
    gap: 1rem;


}

/* only for styling after will deleted and replace it with js */
.presentations-category-item:nth-child(2) {
    background-image: linear-gradient(0deg, var(--accounting-present-category) 8%, transparent 50%), url(/images/landing/presentaions-category/accounting.png);


}

.presentations-category-item:nth-child(3) {
    background-image: linear-gradient(0deg, var(--accounting-present-category) 8%, transparent 50%), url(/images/landing/presentaions-category/electronics.png);


}

.presentations-category-item:nth-child(4) {
    background-image: linear-gradient(0deg, var(--accounting-present-category) 8%, transparent 50%), url(/images/landing/presentaions-category/navigation.png);


}

/* only for styling after will deleted and replace it with js */






.presantions-category-item__support {

    gap: 2rem;
}

.presantions-category-item__support-watch,
.presantions-category-item__support-like {

    gap: .2rem;

}


.presantions-category-item__support-text {
    font-family: dana-farsi-num;

}



.presantions-category-item__support-icon {
    width: 2.4rem;
    height: 2.4rem;
}

/* presentations category */
/* -------------------------------------------------------------------------- */


/* articles */


.article {
    background-image: linear-gradient(0deg, var(--primery-color)30%, transparent), url(/images/blogs/content-author-writing-creative-article-illustration_179970-394.avif);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    padding: 1.5rem;

}

.article__title {
    margin-top: 10rem;
    font-size: 2.3rem;

}



.article__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: start;
    gap: 1rem;
}

.article__details-author,
.article__details-date {

    gap: 1rem;
}

.article__details-text {
    font-size: 2rem;
    font-family: dana-farsi-num;

}

.article__details-date>span:nth-child(2) {
    margin-left: .5rem;
}


/* articles */
/* -------------------------------------------------------------------------- */


/* courses category */
.courses-category {
    gap: 8rem;
    margin-top: 12rem;
}

.course-category {
    background-color: var(--main-dark-color);
    border-radius: 2rem;
    height: 12rem;


}

.course-category__icon-box {
    background-color: rgba(55, 196, 235, .2);
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 2rem;
    border: 2px solid rgb(55, 196, 235);
    bottom: 5rem;
    right: 2rem;

}



.course-category__icon-box::before {
    position: absolute;
    left: auto;
    right: auto;
    content: "";
    width: 70%;
    height: 1rem;
    background-color: rgb(55, 196, 235);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    bottom: -1.2rem;
}

.course-category__content {
    margin-right: 3.5rem;

}

.course-category__title {
    font-size: 2.3rem;

}

/* custumizing icon box */
.course-category__icon-box--programming {
    border-color: #FF7051 !important;
    background-color: rgba(255, 113, 81, .2) !important;
}

.course-category__icon-box--programming::before {
    background-color: #FF7051 !important;
}


.course-category__icon-box--wordpress {
    border-color: rgba(67, 226, 163, 1) !important;
    background-color: rgba(67, 226, 163, .2) !important;
}

.course-category__icon-box--wordpress::before {
    background-color: rgba(67, 226, 163, 1) !important;
}


.course-category__icon-box--network {
    border-color: rgba(239, 68, 36, 1) !important;
    background-color: rgba(239, 68, 36, .2) !important;
}

.course-category__icon-box--network::before {
    background-color: rgba(239, 68, 36, 1) !important;
}


.course-category__icon-box--ai {
    border-color: rgba(231, 67, 228, 1) !important;
    background-color: rgba(231, 67, 228, .2) !important;
}

.course-category__icon-box--ai::before {
    background-color: rgba(231, 67, 228, 1) !important;
}


.course-category__icon-box--hardware {
    border-color: rgba(141, 135, 248, 1) !important;
    background-color: rgba(141, 135, 248, .2) !important;
}

.course-category__icon-box--hardware::before {
    background-color: rgba(141, 135, 248, 1) !important;
}


.course-category__icon-box--ui {
    border-color: rgba(208, 38, 222, 1) !important;
    background-color: rgba(208, 38, 222, .2) !important;
}

.course-category__icon-box--ui::before {
    background-color: rgba(208, 38, 222, 1) !important;
}

/* custumizing icon box */







/* courses category */
/* -------------------------------------------------------------------------- */


/* teachers */
.teachers {
    margin-top: 18rem;
    gap: 18rem;
}

.teacher {
    background-color: var(--main-dark-color);
    position: relative;
    border-radius: 2rem;
    height: 36rem;
    padding: 0 2rem 3rem 2rem;
    display: flex;
    align-items: end;

}

.teacher__profile-box {
    background-color: var(--main-dark-color);
    border-radius: 100%;
    position: absolute;
    width: 23rem;
    height: 23rem;
    top: -11rem;
    left: 0;
    right: 0;
    margin: auto;

}

.teacher__profile-img {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    border: 5px solid var(--primery-color);

}

.teacher__content {

    display: flex;
    flex-direction: column;
    gap: 3rem;
}
















.teacher__icon {

    padding: 1rem;
    border: 2px solid var(--primery-color);
    border-radius: 100%;

}

.teacher__icon svg path {
    stroke: var(--primery-color);
}

/* teachers */
/* -------------------------------------------------------------------------- */

/* education fields */


.education-field {
    border-radius: 2rem;
    background-color: var(--main-dark-color);

}

.education-field__cover {
    width: 100%;

}

.education-field__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

}

.education-field__title {
    margin-bottom: 1rem;
}




.education-field__students-count-text {
    color: #7A7A7A;
}

.education-field__students-count-box svg path {
    stroke: #7A7A7A;
}


.education-field__tag-text:nth-child(1),
.education-field__tag-text:nth-child(2) {
    color: #00975B;
}

.education-field:nth-child(3) .education-field__tag-text,
.education-field:nth-child(4) .education-field__tag-text {
    color: #F59E0B;
}






/* education fields */
/* -------------------------------------------------------------------------- */



/* gallery */

.gallery {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}


.gallery__item:hover .gallery__details {
    height: 100% !important;
    justify-content: center;
}

.gallery__item:hover .gallery__details > a{
    display: none;
}

.gallery__item:hover .gallery__details > a{
    display: none;
}
.gallery__item:hover .gallery__title{
    color: var(--primery-color);
}
.gallery__item:hover .gallery__item_items{
    display: flex;
}


.gallery__item_items {
    display: none;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.gallery__item {
    overflow: hidden;
    border-radius: 2rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: hidden;


}


.gallery__item:first-child {
    background-image: url(/images/landing/education-fields/computer.png);


}

.gallery__item:nth-child(2) {
    background-image: url(/images/landing/education-fields/accounting.png);

}

.gallery__item:nth-child(3) {
    background-image: url(/images/landing/education-fields/electronics.png);

}

.gallery__item:nth-child(4) {
    background-image: url(/images/landing/education-fields/navigation.png);

}

.gallery__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: 10rem !important;
    transition: all 300ms ease;
    max-width: 65rem !important;
    width: 100% !important;







}



.gallery__title {
    font-size: 2.3rem;
}

.gallery__tag {
    gap: 1rem;
    background-color: var(--gallery-tag-bg);
    padding: 0.5rem;
    border-radius: 5rem;
}

.gallery__tagTitle {
    font-size: 1.4rem;

}

.gallery__tagIconbox {
    background-color: rgba(255, 255, 255, 0.2);
    padding: .5rem;
    border-radius: 100%;
}

.gallery__tagIconbox svg {
    width: 2rem;
    height: 2rem;
}




/* gallery */
/* -------------------------------------------------------------------------- */


/* books section */

.books-section {

    position: relative;
}

.books-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 20rem;
    background-image: linear-gradient(90deg, #101113, transparent);
    left: -1px;
    z-index: 2;


}

.books__category {
    margin-bottom: 3rem;
    display: flex;
    justify-content: start;
    gap: 2rem;
    overflow-x: hidden;

}

.book__category--active {
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: var(--primery-color);


}

.book__category {
    background-color: #2B2F35;
    font-family: dana-regular;
    padding: 1rem 2rem;
    border-radius: 3rem;

}

.books {
    display: grid;
    grid-template-columns: repeat(8, 170px);
    justify-content: start;
    justify-items: center;
    gap: 2rem;
    overflow-x: hidden;

}

.book {

    flex-direction: column;
    gap: 2rem;
    text-align: center;
    width: 100%;
}

.book__cover {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--primery-color);
    position: relative;


}

.book__cover-img {
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 100%;

}

.book__education {
    padding: .5rem 2rem;
    border: 2px solid var(--primery-color);
    color: var(--primery-color);
    z-index: 1;
    border-radius: 5rem;
    width: 80%;

}

/* books */
/* -------------------------------------------------------------------------- */


/* footer */

footer {
    margin-bottom: 6rem;
}

.footer-box {
    background-color: var(--main-dark-color);
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;


}

.footer-box__content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 5rem;
}

.footer-box__about-us {
    flex-direction: column;
    gap: 5rem;

}



.footer-box__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

.footer-box__location-text {
    font-size: 1.8rem;
    color: #7A7A7A;

}

.footer-box__socials {
    margin-top: 2rem;

}

.footer-box__social {
    padding: .5rem;
    background-color: var(--primery-color);
    border-radius: 2rem;

}

.footer-box__quick-access-items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.footer-box__quick-access-item {
    color: #7A7A7A;

}

.footer-box__copy-right {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* footer */
/* -------------------------------------------------------------------------- */