:root {
  --primery-color: #006cff;
  --accent-color: #ef4424;
  --accent-color-2: #f36c27;
  --main-dark-color: #212326;
  --dark-color: #26324e;
  --bg-color: #101113;
  --section-title-link: #7a7a7a;
  --success: #00975b;

  /* presentaions category */
  --electronics-present-category: #f59e0b;
  --accounting-present-category: #b700ff;
  /* presentaions category */
  /* -------------------------------------------------------------------------- */

  /* course feature */
  --course-feature-title: #976aee;
  /* course feature */
  /* -------------------------------------------------------------------------- */

  /* gallery tag */
  --gallery-tag-bg: #2c9eb7;

  /* gallery tag */
  /* -------------------------------------------------------------------------- */
}

.dark {
  --primery-color: #006cff;
  --accent-color: #ef4424;
  --accent-color-2: #f36c27;
  --main-dark-color: #212326;
  --dark-color: #26324e;
  --bg-color: #101113;
  --section-title-link: #7a7a7a;
  --success: #00975b;

  /* presentaions category */
  --electronics-present-category: #f59e0b;
  --accounting-present-category: #b700ff;
  /* presentaions category */
  /* -------------------------------------------------------------------------- */

  /* course feature */
  --course-feature-title: #976aee;
  /* course feature */
  /* -------------------------------------------------------------------------- */

  /* gallery tag */
  --gallery-tag-bg: #2c9eb7;
  /* gallery tag */
  /* -------------------------------------------------------------------------- */
}

.dark {
  --primery-color: #006cff;
  --accent-color: #ef4424;
  --accent-color-2: #f36c27;
  --main-dark-color: #212326;
  --dark-color: #26324e;
  --bg-color: #101113;
  --section-title-link: #7a7a7a;
  --success: #00975b;

  /* presentaions category */
  --electronics-present-category: #f59e0b;
  --accounting-present-category: #b700ff;
  /* presentaions category */
  /* -------------------------------------------------------------------------- */

  /* course feature */
  --course-feature-title: #976aee;
  /* course feature */
  /* -------------------------------------------------------------------------- */

  /* gallery tag */
  --gallery-tag-bg: #2c9eb7;
  /* gallery tag */
  /* -------------------------------------------------------------------------- */
}
