:root {
    --primery-color: #006CFF;
    --accent-color: #EF4424;
    --accent-color-2: #F36C27;
    --main-dark-color: #212326;
    --dark-color: #26324E;
    --bg-color: #101113;
    --section-title-link: #7A7A7A;
    --success: #00975B;


    /* presentaions category */
    --electronics-present-category: #F59E0B;
    --accounting-present-category: #B700FF;
    /* presentaions category */
    /* -------------------------------------------------------------------------- */


    /* course feature */
    --course-feature-title: #976AEE;
    /* course feature */
    /* -------------------------------------------------------------------------- */


    /* gallery tag */
    --gallery-tag-bg: #2C9EB7;
    
    /* gallery tag */
    /* -------------------------------------------------------------------------- */



}

.dark {
    --primery-color: #006CFF;
    --accent-color: #EF4424;
    --accent-color-2: #F36C27;
    --main-dark-color: #212326;
    --dark-color: #26324E;
    --bg-color: #101113;
    --section-title-link: #7A7A7A;
    --success: #00975B;


    /* presentaions category */
    --electronics-present-category: #F59E0B;
    --accounting-present-category: #B700FF;
    /* presentaions category */
    /* -------------------------------------------------------------------------- */


    /* course feature */
    --course-feature-title: #976AEE;
    /* course feature */
    /* -------------------------------------------------------------------------- */


    /* gallery tag */
    --gallery-tag-bg: #2C9EB7;
    /* gallery tag */
    /* -------------------------------------------------------------------------- */



}

.dark {
    --primery-color: #006CFF;
    --accent-color: #EF4424;
    --accent-color-2: #F36C27;
    --main-dark-color: #212326;
    --dark-color: #26324E;
    --bg-color: #101113;
    --section-title-link: #7A7A7A;
    --success: #00975B;


    /* presentaions category */
    --electronics-present-category: #F59E0B;
    --accounting-present-category: #B700FF;
    /* presentaions category */
    /* -------------------------------------------------------------------------- */


    /* course feature */
    --course-feature-title: #976AEE;
    /* course feature */
    /* -------------------------------------------------------------------------- */


    /* gallery tag */
    --gallery-tag-bg: #2C9EB7;
    /* gallery tag */
    /* -------------------------------------------------------------------------- */


}